LOGFILE=logfile.log
BLACKLIST_FILE_PATH=ban_players.txt
VIP_PLAYERS_FILE_PATH=vip_players.txt
VIP_FIRST_FLAG=🌱
VIP_SECOND_FLAG=😀
NON_VIP_PLAYERS_FILE_PATH=non_vip_players.txt
NON_VIP_FLAG=🌱
BLACKLIST_NAME=my_blacklist
REASON=Violation of server rules
ADMIN_NAME=admin123
API_URL=https://api.example.com
API_KEY=your_api_key_here
DISCORD_BOT_TOKEN=your_discord_token_here
DISCORD_CHANNEL_ID=your_channel_id_here